<div class="container" id="about_page">
<div class="row">
<div class="col-md-6 offset-3 text-center">
<h1>About</h1>
<p>This App Has Been Released By Boubtane Houssem Eddine 
  Gr33tez To Cyber-Trace Team </p>
</div>  
</div>
</div>